<div class="jumbotron">
    <h1>Deep Thought</h1>
    <h2 class="lead">DSL</h2>
    <p>
        A domain-specific language (DSL) is a computer language specialized to a particular application domain. This is in contrast to a general-purpose language (GPL), which is broadly applicable across domains, and lacks specialized features for a particular domain
        <a target="_blank" href="http://en.wikipedia.org/wiki/Domain-specific_language">...more</a>
    </p>


    <h3>DSL developed with Irony.Net</h3>
    <p>Irony is a development kit for implementing languages on .NET platform. </p>
    <p><a target="_blank" href="https://irony.codeplex.com/" class="btn btn-large btn-default">More about Irony.Net</a></p>
</div>