<div class="jumbotron">
    <h1>Deep Thought</h1>
    <p>
        Deep Thought(pensamiento profundo) era una super computadora programada para calcular la respuesta  a la pregunta última sobre la vida, el universo y todo, después de siete y medio millones de años dio como resultado "42" pero no conocía la pregunta para la que había calculado la respuesta.
    </p>
    <p>
        <a href="https://en.wikipedia.org/wiki/List_of_minor_The_Hitchhiker%27s_Guide_to_the_Galaxy_characters#Deep_Thought" target="_blank">Más sobre Deep Thought</a>
    </p>
    <h3 >DSL</h3>
    <p>
        Un Lenguaje específico del dominio es un lenguaje de programación o especificación dedicado a resolver un problema en particular, representar un problema específico y proveer una técnica para solucionar una situación particular al contrario de los lenguages de propósito general(GPL) que son aplicables en varios dominios.
        </p>
    <p>
        <a target="_blank" href="http://en.wikipedia.org/wiki/Domain-specific_language" >Más sobre DSL</a>
    </p>


    <h3>DSL Desarrollado con Irony .Net</h3>
    <p>
        Irony .Net es un kit de desarrollo para implementar lenguajes en la plataforma .Net, la principal diferencia de Irony.Net con otras soluciones tipo yacc/lex es que Irony no usa un parser o escaner para definir la gramática escrita en un metalenguaje especializado, en Irony la gramática se expresa directamente en C#
    </p>
    <p><a target="_blank" href="https://irony.codeplex.com/" >Más sobre Irony .Net</a></p>
</div>