
@{
    ViewBag.Title = "Source";
}


<div class="jumbotron">
    <h1>Source Code</h1>
    <p>
        Todo el código fuente está disponible en <a href="https://github.com/pedro-ramirez-suarez/ScioAssistant" style="border:none;" target="_blank">Github</a>
</p>
    <p>
        <a href="https://github.com/pedro-ramirez-suarez/ScioAssistant" style="border:none;" target="_blank">
            <img src="@Url.Content("~/Content/github.png")" class="source"/>
        </a>
    </p>
</div>


